* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #292929;
  padding: 40px;
}

.layout {
  background-color: #121212;
  box-shadow: 0px 5px 5px 0.1px #121212;
  color: #e2e2e2;
  align-items: center;
  width: 50rem;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.layout main {
  padding: 25px;
  width: 100%;
}

.layout header {
  box-shadow: 0px 5px 5px 0.1px #0f0f0f;
  width: calc(100% + 6px);
  padding: 15px;
  margin-bottom: 10px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
}

.layout header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.layout header ul li {
  margin-left: 20px;
}

.layout header ul li a {
  text-decoration: none;
  color: aqua;
  position: relative;
  transition: 0.3s;
}

.layout header ul li a.activePage {
  text-shadow: 0 0 10px aqua;
}

.layout header ul li a.activePage::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background-color: aqua;
  bottom: -2px;
  left: 0;
}

.layout header ul li a:hover {
  text-shadow: 0 0 10px aqua;
}

.layout header h2 {
  user-select: none;
}

.newContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.newContact span {
  align-self: flex-start;
  margin-bottom: 10px;
  user-select: none;
}

.newContact form {
  box-shadow: 0px 5px 5px 0.1px #0f0f0f;
  width: 100%;
  background-color: #0f0f0f;
  padding: 20px 10px;
}

.newContact form .specifications {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.newContact form .specifications input {
  box-shadow: 0px 5px 5px 0.1px #0f0f0f;
  width: 48%;
  border: none;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  padding: 15px 10px;
  color: #e2e2e2;
  outline: none;
  font-weight: 400;
  border-radius: 3px;
  transition: 0.3s;
}

.newContact form .specifications input:focus {
  border: 1px solid #000;
}

.newContact form .specifications input::placeholder {
  color: #9e9e9e;
  font-weight: lighter;
}

.newContact form button {
  background-color: #663399;
  color: #e2e2e2;
  font-weight: 500;
  font-size: 17px;
  border: none;
  padding: 7px 30px;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  /* transition: 0.3s; */
}

.newContact form button:hover {
  box-shadow: 0px 5px 5px 0.1px #0f0f0f;
  transform: scale(1.02);
}

.newContact .gender {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  margin-top: 10px;
}

.newContact form .gender label {
  cursor: pointer;
}

.newContact .gender input {
  margin: 4px 20px 0 5px;
  cursor: pointer;
}

.newContact .gender input[type="radio"] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 6px 20px 0 5px;
  font: inherit;
  color: currentColor;
  width: 1.1em;
  height: 1.1em;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
}

.newContact .gender input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #8b58be;
}

.newContact .gender input[type="radio"]:checked::before {
  transform: scale(1);
}

.contactsList {
  margin-top: 50px;
}

.contactsList > section {
  margin-top: 10px;
  background-color: #1f1f1f;
  box-shadow: 0px 5px 5px 0.1px #0f0f0f;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contactsList > section p.emptyList {
  user-select: none;
  color: #e23c73;
}

.single_contact {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.single_contact:last-child {
  margin: 0;
}

.single_contact .details {
  display: flex;
}

.single_contact .details .avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.single_contact .details .avatar .icon {
  width: 45px;
  height: 45px;
}

.single_contact .details .name_email {
  margin-left: 5px;
}

.single_contact .details .name_email h3 {
  font-weight: 400;
  font-size: 20px;
}

.single_contact .details .name_email span {
  font-weight: lighter;
  font-size: 14px;
}

.single_contact .options {
  margin-right: 5px;
}

.single_contact .options .icon {
  color: #e23c73;
  cursor: pointer;
  font-size: 17px;
}

/* responsive */
@media (max-width: 900px) {
  .layout {
    width: 100%;
  }

  body {
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .newContact form {
    padding: 10px;
  }

  .newContact form .specifications {
    flex-wrap: wrap;
  }

  .newContact form .specifications input {
    width: 100%;
  }

  .newContact form .specifications input:first-child {
    margin-bottom: 15px;
  }
}
